.idea
/aws/lambdas-with-external-deps/aws_psycopg2-1.3.8.dist-info/
/aws/lambdas-with-external-deps/psycopg2/
/aws/lambdas-with-external-deps/psycopg2_binary.libs/
/aws/lambdas-with-external-deps/aws-pg2.zip
/aws/lambda/process-images/node_modules/
/aws/lambda/cruddur-upload-avatar/.bundle/
/aws/lambda/cruddur-upload-avatar/vendor/
/aws/lambda/lambda-authorizer/*.zip
/aws/lambda/lambda-authorizer/node_modules/
/aws/lambda/cruddur-upload-avatar/*.zip
/aws/lambda/cruddur-upload-avatar/Gemfile.lock
/aws/lambda/lambda-authorizer/package-lock.json
