.idea
/aws/lambdas-with-external-deps/aws_psycopg2-1.3.8.dist-info/
/aws/lambdas-with-external-deps/psycopg2/
/aws/lambdas-with-external-deps/psycopg2_binary.libs/
/aws/lambdas-with-external-deps/aws-pg2.zip
