.activity_feed {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
}

.activity_feed_collection {
  display: flex;
  flex-direction: column;
}

.activity_feed_heading {
  padding: 16px;
  padding-bottom: 48px;
  border-bottom: solid 1px rgb(58, 63, 78);
}

.activity_feed_heading .title {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

.activity_feed_heading .cruds_count {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.activity_feed_heading .handle {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.activity_feed_heading .avatar img {
  width: 140px;
  height: 140px;
  border-radius: 9999px;
}

.profile-container {
  display: flex;
  align-items: center;
  /* Align elements vertically */
  gap: 10px;
  /* Add spacing between elements */
}

.profile-container .avatar img {
  width: 40px;
  /* Adjust avatar size */
  height: 40px;
  border-radius: 50%;
}

.profile-container>.title,
.handle,
.cruds_count {
  margin: 0;
  font-size: 14px;
  /* Adjust text size if needed */
}

.profile-container button {
  margin-left: auto;
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding: 12px 20px;
  font-size: 18px;
  background: none;
  border-radius: 999px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.profile-container button:hover {
  background: rgba(255, 255, 255, 0.3);
}