.desktop-navigation {
  flex-shrink: 1;
  width: 280px;
  padding: 16px 24px 0;
}

.desktop-navigation__logo {
  width: 48px;
  height: 48px;
  fill: rgb(149, 0, 255);
}

.desktop-navigation__link {
  display: flex;
  gap: 24px;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-decoration: none;
  padding: 12px 0;
  margin: 8px 0;
  transition: color 0.2s ease-in-out;
}

.desktop-navigation__link:hover {
  color: rgba(255, 255, 255, 1);
}

.desktop-navigation__link .icon {
  fill: rgba(255, 255, 255, 0.5);
  width: 24px;
  height: 24px;
  transition: fill 0.2s ease-in-out;
}

.desktop-navigation__link:hover .icon {
  fill: rgba(255, 255, 255, 1);
}

.desktop-navigation__link.active {
  color: rgb(149, 0, 255) !important;
  font-weight: 600;
}

.desktop-navigation__link.active .icon {
  fill: rgb(149, 0, 255) !important;
}